.header__left {
  @include displayFlex(space-evenly);

  > img {
    height: 40px;
  }

  > .header__input {
    @include displayFlex(initial, center);
    background-color: $secondaryBackgroundColor;
    padding: 10px;
    margin-left: 10px;
    border-radius: 999px;

    > input {
      border: none;
      background-color: transparent;
      outline: none;
    }
  }
}
