// font
$baseFont: (
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  "Roboto",
  "Oxygen",
  "Ubuntu",
  "Cantarell",
  "Fira Sans",
  "Droid Sans",
  "Helvetica Neue",
  sans-serif
);

// background
$primaryBackgroundColor: white;
$secondaryBackgroundColor: #eff2f5;
$tertiaryBackgroundColor: lightgray;

// color
$primaryColor: #2e81f4;
$secondaryColor: gray;
$tertiaryColor: black;
