@import "../../styles/variables";
@import "../../styles/mixins";

.sidebarRow {
  @include displayFlex(initial, center);
  padding: 10px;
  cursor: pointer;

  &:hover {
    background-color: $tertiaryBackgroundColor;
    border-radius: 10px;
  }

  > h4 {
    margin-left: 20px;
    font-weight: 600;
    color: $tertiaryColor;
  }

  > .MuiSvgIcon-root {
    font-size: xx-large;
    color: $primaryColor;
  }
}
